#prin{
    display: flex;
    flex-direction: row;
}
#div1{
    display: flex;  
    flex-direction: column;
    text-align: center;
    margin-left: 1%;
    margin-top: 1%;
}

#div2{
    display: flex;
    flex-direction: column;
    margin-right: 1%;
    margin-top: 1%;
}

#img{
    position: static;
    text-align: center;
    width: 25%;
    margin-bottom: 2%
}

#social{
    position: static;
    text-align: center;
}

#git{
    color: black;
    position: static;
    text-align: center;
}

#insta{
    color: blueviolet;
    position: static;
    text-align: center;
}

#twtt{
    color: #3BA9EE;
    position: static;
    text-align: center;
}

#Aboutme{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}

#h1{
    text-align: center;
}

#est{
    margin-top: 8%;
}
